//
// Modals
// --------------------------------------------------


// Modal form - base

.modal-form {
	width: 492px;
	padding: 20px 25px;

	@media (max-width: @screen-xs-min) {
		width: 260px;
	}

	p {
		text-align: center;
	}

	label {
		font-weight: normal;
	}

	a {
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.btn[type="submit"] {
		.padding-horizontal(40px);
	}
}


// Delete account form

.delete-account {
	text-align: center;
}


// Edit model

.edit-model {
	.image-holder {
		display: block;

		.remove {
			display: inline-block;
			margin-left: 11px;
			vertical-align: top;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAiklEQVQoz2P4z8AgAcSngPgcEKszYAFA8XIgfgrEVSBOPBD/h+Jn6JqA/CYk+ZcMUBseYNOEphiEm2CmKADxfTRNU9EU96C7E10TbsVomj6gKZ7LgAtgcTPMeRrEKP6EUxMWxT04AkIDpNgDlwexaLoMEvRFEujGERAwTTdgggEgjCcwxIE4C4gVAaiPrf80eJS6AAAAAElFTkSuQmCC) no-repeat 0 0;
			width: 12px;
			height: 12px;
		}
	}
}
