//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
	margin-bottom: 0;
	padding-left: 0; // Override default ul/ol
	list-style: none;
	&:extend(.clearfix all);

	> li {
		position: relative;
		display: block;

		> a {
			position: relative;
			display: block;
			padding: @nav-link-padding;
			&:hover,
			&:focus {
				text-decoration: none;
				background-color: @nav-link-hover-bg;
			}
		}

		// Disabled state sets text to gray and nukes hover/tab effects
		&.disabled > a {
			color: @nav-disabled-link-color;

			&:hover,
			&:focus {
				color: @nav-disabled-link-hover-color;
				text-decoration: none;
				background-color: transparent;
				cursor: @cursor-disabled;
			}
		}
	}

	// Open dropdowns
	.open > a {
		&,
		&:hover,
		&:focus {
			background-color: @nav-link-hover-bg;
			border-color: @link-color;
		}
	}

	// Prevent IE8 from misplacing imgs
	//
	// See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
	> li > a > img {
		max-width: none;
	}
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
	text-transform: uppercase;
	font-weight: bold;

	> li {
		float: left;
		padding-right: 3.3106961%;

		&:last-child {
			padding-right: 0;
		}

		// Actual tabs (as links)
		> a {
			margin-bottom: -1px;
			font-size: 14px;
			line-height: @line-height-base;
			border: 1px solid @nav-tabs-border-color;
			color: @nav-tabs-color;

			&:hover {
				color: @nav-tabs-hover-color;
				background-color: @nav-tabs-hover-bg;
				border-bottom-color: transparent;
			}

			@media screen and (max-width: 1420px) {
				font-size: 13px;
			}
			@media screen and (max-width: 1320px) {
				font-size: 11px;
			}
		}

		// Active state, and its :hover to override normal :hover
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: @nav-tabs-active-color;
				background-color: @nav-tabs-active-bg;
				border-color: @nav-tabs-active-border-color;
				border-bottom-color: transparent;
				cursor: default;
			}
		}
	}
	// pulling this in mainly for less shorthand
	&.nav-justified {
		.nav-justified();
		.nav-tabs-justified();
	}
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
	width: 100%;

	> li {
		display: table-cell;
		white-space: nowrap;
		padding-right: 1.8471338%;
		float: none;
		width: 1%;

		> a {
			margin-bottom: -1px;
		}
	}

	> .dropdown .dropdown-menu {
		top: auto;
		left: auto;
	}
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
	border-bottom: 0;

	> li {
		border-bottom: 1px solid @nav-tabs-justified-border-color;

		> a {
			border-color: @nav-tabs-justified-border-color @nav-tabs-justified-border-color transparent;
		}
	}

	> .active > a,
	> .active > a:hover,
	> .active > a:focus {
		border: 1px solid @nav-tabs-justified-active-border-color;
		border-bottom-color: @body-bg;
	}
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
	> .tab-pane {
		display: none;
		visibility: hidden;
	}
	> .active {
		display: block;
		visibility: visible;
	}
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
	// make dropdown border overlap tab border
	margin-top: -1px;
}


// Section menu

.section-menu {
	@media (max-width: @screen-xs-max) {
		background-color: #edf1f4;
	}
	@media (min-width: @screen-sm-min) {
		margin: 36px 15px 10px;
	}
	@media (min-width: 1100px) {
		margin-right: 25px;
		margin-left: 25px;
	}

	.menu-header {
		@media (max-width: @screen-xs-max) {
			min-height: 50px;
			padding: 0 10px;
			border-bottom: 1px solid #b2cce0;
			position: relative;
			.clearfix();
		}
		@media (min-width: @screen-sm-min) {
			display: none;
		}
	}
	.menu-toggle {
		display: block;
	  width: 27px;
	  height: 20px;
		float: right;
		margin-top: 6px;
		margin-right: -9px;
	  padding: 9px;
	  box-sizing: content-box;
		border: none;
		background-image: none;
		background-color: transparent;

		&:focus {
			outline: 0;
		}

		.icon-bar {
			display: block;
			width: 27px;
			height: 4px;
			border-radius: 3px;
			background: #b2cce0;

			+ .icon-bar {
				margin-top: 4px;
			}
		}
	}
	.section-header {
		float: left;
		line-height: 49px;
		font-size: 18px;
	}
	.section-menu-collapse {
		@media (min-width: @screen-sm-min) {
			display: block;
			visibility: visible;
		}
	}
	.section-menu-nav {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	li {
		display: block;

		@media (min-width: @screen-sm-min) {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}

		&.active {
			span,
			a {
				background-color: #edf1f4;
				text-decoration: none;

				@media (min-width: @screen-sm-min) {
					border-color: #ff0000;
					background-color: #fff;
					color: #ff0000;

					&:hover,
					&:focus {
						color: #ff0000;
					}
				}
			}
		}
		span,
		a {
			display: block;
			font-weight: 300;
			border-bottom: 1px solid #b2cce0;
			background-color: #fff;
			line-height: 39px;
			padding: 0 20px;
			color: @link-color;
			text-decoration: none;

			@media (min-width: @screen-sm-min) {
				display: inline-block;
				background-clip: padding-box;
				text-decoration: underline;
				border-radius: 8px;
				padding: 10px 16px;
				border: 1px solid transparent;
				line-height: 1;
			}

			&:hover,
			&:focus {
				text-decoration: none;
				background-color: #edf1f4;

				@media (min-width: @screen-sm-min) {
					color: @link-hover-color;
					background-color: #fff;
				}
			}
		}
	}
}
